In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:

# Leer el archivo Excel
file_path = './data/registros_2023.xlsx'
excel_file = pd.ExcelFile(file_path)

# Crear un DataFrame vacío para almacenar los datos combinados
df_combined = pd.DataFrame()

# Iterar sobre cada hoja del archivo Excel
for sheet_name in excel_file.sheet_names:
    # Leer cada hoja en un DataFrame temporal, seleccionando solo las dos primeras columnas y saltando las primeras 5 filas
    df_temp = pd.read_excel(file_path, sheet_name=sheet_name, usecols=[0, 1], skiprows=5)
    
    # Renombrar las columnas: la primera columna es la fecha y la segunda columna es la temperatura
    df_temp.columns = ['Fecha', sheet_name]
    
    # Si el DataFrame combinado está vacío, inicializarlo con los datos de la primera hoja
    if df_combined.empty:
        df_combined = df_temp
    else:
        # Unir los DataFrames temporales en el DataFrame combinado
        df_combined = pd.merge(df_combined, df_temp, on='Fecha', how='outer')

# Guardar el DataFrame combinado en un nuevo archivo Excel
df_combined.to_excel('./data/archivo_combinado.xlsx', index=False)

In [9]:
# Poner como index la columna de fechas
df_combined.set_index('Fecha', inplace=True)

In [10]:
df_combined.head()

,Cerrito_1,Colonia Celina_2,Hasenkamp_3,Hernandarias_4,María Grande_5,Oro Verde_6,Oro Verde Vieja_7,Paraná_8,Paso de la Arena_9,Viale_10
Fecha,,,,,,,,,,
15-04-2023 00:00,14.4,14.3,14.3,15.6,NaN,NaN,NaN,13.9,15.0,NaN
15-04-2023 00:10,14.2,14.2,14.3,15.5,NaN,NaN,NaN,13.5,14.9,NaN
15-04-2023 00:20,13.9,14.0,14.3,15.3,NaN,NaN,NaN,13.2,14.7,NaN
15-04-2023 00:30,13.7,13.9,14.4,15.1,NaN,NaN,NaN,12.9,14.4,NaN
15-04-2023 00:40,13.5,13.9,14.4,15.2,NaN,NaN,NaN,12.9,14.1,NaN

In [11]:
df_combined.shape

(21932, 10)